<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Milad E. Fahmy</title>       
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <!-- //onblur="onBlur()" -->
                    <input id="name" type="text" name="input" value=""  placeholder="Name">
                    <div id="err">Please enter a valid URL to an article</div>
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

         
            <section>
                <strong>Form Results:</strong>
                <hr>
                <div id="results">
                    <div id="subc">subc:</div>
                    <hr>
                    <div id="confidence">Confidence</div>

                    <hr>
                    <div id="polrty">Polarity:</div>

                    <hr>
                    <div id="subject">subject:</div>
                </div>
            </section>
        </main>

        <footer>
            <p>&Copy; copy 2020, All rights reserved to Milad E. Fahmy  </p>
        </footer>
        
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
